body {
  background-color: #ddd;
  color: black;
  font-family: sans-serif;
}

main.refreshpage {
  max-width: 80ch;
  margin: auto;
  padding-inline: 1rem;
}

main.refreshpage {
  header {
    margin-bottom: 2rem;
  }

  header > h1 {
    margin-bottom: 0rem;
  }

  header > p {
    margin-top: 0rem;
  }

  form {
    padding: 0;
  }

  div.fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  input[type="checkbox"] {
    --size: 1.2rem;
    height: var(--size);
    width: var(--size);
    cursor: pointer;
  }

  label {
    cursor: pointer;
  }

  div:has(> input[type="checkbox"]) {
    display: flex;
    align-items: center;
    margin-block: 0.2rem;
  }

  input[type="password"], input[type="submit"] {
    font-weight: bold;
    font-size: 1rem;
    margin-block: .5rem;
    margin-inline: 0.5rem;
    cursor: pointer;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    box-shadow:
      inset 0px 1px 2px #ddd,
      inset 0px -1px 2px #888;
  }

  input[type="submit"]:active {
    box-shadow: inset 0px 1px 2px #ddd;
  }

  h3 {
    margin-block: 0;
  }

  p.failed {
    color: red;
    font-weight: bold;
  }

  p.success {
    color: green;
    font-weight: bold;
  }

  div.moreinfo {
    margin-top: 4rem;
  }
}